.container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.jokeCard {
    background-color: slategrey;
    border: 1px solid white;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

h4{
    color: rgb(201, 198, 198);
}