body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.contacts {
    color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.contactCard {
    flex-basis: 225px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 13px;
    padding-bottom: 20px;
    background-color: white;
}

.contactCard > img {
    width: 100%;
    height: auto;
    align-self: center;
    border-radius: 5px;
    object-fit: cover;
}

.contactCard > h3 {
    font-weight: 700;
    font-size: 18px;
}

.infoGroup {
    display: flex;
    align-items: center;
}

.infoGroup > img {
    height: 11px;
    margin-right: 8px;
}

.infoGroup > p {
    margin-block: 3px;
    font-size: 12px;
    color: #2B283A;
}