/* Header.jsx */
.headerContainer{
    background-color: #ffffff;
    color: black;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);

}

.header img {
    display: inline-block; 
    height: auto;
    width: 50px;
    vertical-align: middle; 
}

.header h1 {
    text-align: center; 
    display: inline-block; 
    font-weight: 350;
    margin: 0; 
    vertical-align: middle; 
}

/* Main.jsx */
main {
    color: black;
    padding: 10px 30px;
    background-color: #ededed;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.addIngredientForm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.addIngredientForm > input {
    border-radius: 6px;
    border: 1px solid #c7c9cc;
    padding: 9px 13px;
    flex-grow: 1;
}